.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    height: 112px;
    box-sizing: border-box;
    padding: 19.2px;
    margin: auto;
}

.header nav {
    display: flex;
    flex-direction: row;
}

#logo-link {
    display: flex;
    align-items: center;
}

#logo-link > #logo {
    width: 26px;
    margin: 0 8px 0 0;
    
    transition: rotate 0.2s;
}

#logo-link > #logo:hover {
    transition: all 0.2s;
    rotate: -18deg;
}

.header ul {
    display: flex;
    justify-content: space-between;
    width: 192.95px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header button {
    margin: 0 0 0 40px;
}